PORT = YOUR_PORT_NUMBER
# DB_SYNC = true

FLIGHT_SERVICE_PATH='lochalhost:XXXX'
EXCHANGE_NAME=YOUR_EXCHANGE_NAME
REMINDER_BINDING_KEY=YOUR_BINDING_KEY
MESSAGE_BROKER_URL='amqp://localhost' #for rabbitMQ